.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color:grey;
  height: 100px;
  padding: 15px;
  color: white;
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
    padding-top: 20px;
  }
}